# Node modules
node_modules/

# Client-side node_modules
/client/node_modules/
/server/node_modules/

# Environment files
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore specific frontend or backend folders
/server/.env
/client/.env

# Build directories
/dist/
/build/
