/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2833;
    padding: 15px;
  }
  
  .nav-link {
    color: #66FCF1;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .nav-link:hover {
    color: #45A29E;
  }
  