// src/components/Navbar.scss
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2833;
    padding: 15px;
  
    .nav-link {
      color: #66FCF1;
      text-decoration: none;
      padding: 10px 20px;
  
      &:hover {
        color: #45A29E;
      }
    }
  }
  